<div class="row deleteScoreWrap">
	<div class="col-md-10 col-md-offset-1">
		<h2 class="text-center">先搜索到目标项，然后将其删除</h2>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-md-4 col-sm-4 control-label">
					请选择搜索方式：
				</label>
				<div class="col-md-8 col-sm-8">
					<select class="form-control" ng-model="optionItem">
						<option value="ID">按ID</option>
						<option value="Name">按Name</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-md-4 col-sm-4 control-label">
					{{optionItem}}：
				</label>
				<div class="col-md-8 col-sm-8">
					<input type="text" class="form-control" ng-model="keyword">
					<a class="btn btn-primary pull-right" ng-click="delete()">删除</a>
				</div>
			</div>
		</form>
		<div class="searchResult">
			<table class="table table-bordered table-condensed">
				<tr ng-show="searchFlag.head">
					<th class="text-center">ID</th>
					<th class="text-center">Name</th>
					<th class="text-center">Chinese</th>
					<th class="text-center">Math</th>
					<th class="text-center">English</th>
				</tr>
				<tr ng-repeat="result in searchResult"  ng-class="{successTip:result.tipFlag}">
					<td>{{result.ID}}</td>
					<td>{{result.Name}}</td>
					<td>{{result.Chinese}}</td>
					<td>{{result.Math}}</td>
					<td>{{result.English}}</td>
				</tr>
			</table>
			<p ng-show="searchFlag.noResult" class="text-danger">未找到相关结果，请核实关键字后查询！</p>
			<div ng-show="searchFlag.clickFlag && !searchFlag.noResult">
				<span>确定删除?</span>
				<div class="btn-group pull-right">
					<a class="btn btn-primary" ng-click="cancel()">取消</a>
					<a class="btn btn-primary " ng-click="confirmDelete()">确认删除</a>
				</div>
			</div>
		</div>

	</div>
</div>